/********************* Professional Experience Output ********************/

.professional-output-component {
    margin-top: 1rem;
    width: 90%;
}

.professional-output-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.professional-output-component > h1 {
    font-size: 1.5rem;
}

.professional-output-top {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.professional-output-bottom {
    margin-top: .4rem;
    
}
