.output-container {
    background-color: white;
    width: 100%;
    height: 80rem;
    width: 60rem;
}

/*********************** Personal Infomration ***********************/

.output-fullName {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 2.5rem;
}

.output-personal-info-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
}

.output-personal-info-third {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
}

/************************* Icons *************************/

.icon {
    width: 1rem;
}
