.output-container {
    min-width: 600px;
    max-height: 800px;
    margin: 3rem;
    background-color: white;
}

@media (max-width: 1300px) {
    .output-container {
        min-width: 525px;
        max-height: 700px;
    }
}

@media (max-width: 1200px) {
    .output-container {
        min-width: 450px;
        max-height: 600px;
    }
}

@media (max-width: 1100px) {
    .output-container {
        min-width: 375px;
        max-height: 500px;
    }
}
