
.personal-details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	margin: 20px 0;
	background-color: white;
	color: black;
}

.personal-details-container h2 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 2rem;
	width: 90%;
}

.personal-details-container span {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	width: 90%;
}

.personal-details-container label {
	padding-left: 0.5rem;
}

.personal-details-container input {
	margin-top: 0.5rem;
	height: 3rem;
	border-radius: 10px;
	padding-left: 0.5rem;
	font-size: 1rem;
}