.pec-container {
    
}









.saved-elements-container {
    width: 90%;
}

.saved-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.saved-element-education-box {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.saved-element-education-info-holder {
    width: 100%;
    display: flex;
    align-items: center;
}

.saved-element-education-degree {
    font-weight: 600;
    margin-left: 0.5rem;
}

.saved-element-education-school {
    font-style: italic;
}
