/* * {
	border: 1px solid red;
} */

.personal-info-header {
	left: 0;
	margin-bottom: -5px;
	margin-top: -5px;
	width: 80%;
	font-size: 1.8rem;
}

.personal-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 95%;
	background-color: #d4d6db;
	color: black;
	margin: 20px 0;
	
}

.personal-info-container span {
	display: flex;
	width: 90%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5px 5%;
	background-color: #d4d6db;
}

.personal-info-container div {
	width: 90%;
}

input {
	width: 90%;
	border-style: none;
	height: 30px;
	border-radius: 6px;
	background-color: white;
	text-indent: 5px;
	color: black;
}

input:focus {
	border: 2px solid blue;
}

label {
	width: 90%;
	font-size: 1.1rem;
	font-weight: 600;
}

#state-zip-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#state-zip-container label,
#state-zip-container input {
	width: 100%;	
}

