
.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);
}

.input {
    height: 100vh;
    width: 100%;
    max-width: 55rem;
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.output {
    height: 100vh;
    width: 100%;
    max-width: 80rem;
    min-width: 60rem;
}
