.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);
    padding-top: 1rem;
}

.input {
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output {
    height: 100vh;
    width: 100%;
    max-width: 80rem;
    min-width: 60rem;
}

/************************* Personal Information *************************/

.personal-information-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;

    background-color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 12px;
}

.personal-information-form > label {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

.personal-information-form > input {
    width: 90%;
}

.personal-information-form > label:first-child {
    margin-top: 2rem;
}

.personal-information-form > input:last-child {
    margin-bottom: 2rem;
}
